<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <script defer src="../static/js/script.js"></script>
    <title>Maquette</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/lib/particles.min.js"></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body id="background-animation">
    <header>
      <div class="left-side">
        <a target="_blank" class="logo" href="https://polnep.ac.id/"
          ><img class="logo" src="../static/img/logo.png"
        /></a>
        <div id="divv" class="divv"></div>
        <h1 id="texts">
          Politeknik<br />
          Negeri <br />Pontianak
        </h1>
      </div>
      <div class="right-side">
        <a class="language"><img src="../static/img/english.png" /></a>
        <a class="light-mode"
          ><img
            class="moon"
            id="moon"
            src="../static/img/moon-regular.svg"
            onclick="dark()"
        /></a>
      </div>
    </header>

    <div class="container">
      <div class="text">
        <h1 id="text2">Hai, aku</h1>
        <h1 class="baymax-span">Baymax</h1>
        <p>Bantu aku menemukan topik untuk ujian akhirmu.</p>
        <a class="button" id="button" href="start">Ayo pergi!</a>
      </div>
      <img src="../static/img/baymax.png" class="baymax hide" id="baymax" />
    </div>
  </body>
</html>
