<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="../static/js/profile.js"></script>
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div class="left-side">
        <a target="_blank" class="logo" href="https://polnep.ac.id/"
          ><img class="logo" src="../static/img/logo.png"
        /></a>
        <div id="divv" class="divv"></div>
        <h1 id="texts">
          Politeknik<br />
          Negeri <br />Pontianak
        </h1>
      </div>
      <div class="right-side">
        <a class="light-mode"
          ><img
            class="moon"
            id="moon"
            src="../static/img/moon-regular.svg"
            onclick="dark()"
        /></a>
        <a class="profile-icon"><img src="../static/img/drake.jpg" /></a>
      </div>
    </header>
    <div class="menu">
      <nav>
        <h1>Menu</h1>
        <li>
          <a href=""
            ><span class="material-symbols-rounded"> home </span>
            <h4>Main</h4></a
          >
        </li>

        <li class="admin">
          <a href=""
            ><span class="material-symbols-rounded"> search </span>
            <h4>Results</h4></a
          >
        </li>

        <li>
          <a
            ><span class="material-symbols-rounded"> logout </span>
            <h4>Logout</h4></a
          >
        </li>
      </nav>
      <img class="baymax hide" src="../static/img/baymax-left.png" />
    </div>
    <div class="profile">
      <h1 class="title">Parametres du compte</h1>
      <div class="container">
        <div class="content">
          <h1 class="my-profile">My profile</h1>
          <div class="profile-details">
            <img src="../static/img/drake.jpg" />
            <div>
              <h1>{{mydata.name}}</h1>
              <p>{{mydata.major}}</p>
            </div>
          </div>
          <h1 class="personnal-informations">Personnal information</h1>
          <div class="informations">
            <div>
              <label>Full Name</label><br />
              <span>{{mydata.name}}</span>
            </div>
            <div>
              <label>Status</label><br />
              <span>{{mydata.status}}</span>
            </div>
            <div>
              <label>Student ID</label><br />
              <span>{{mydata.id}}</span>
            </div>
          </div>

          <div class="subjects">
            <h1 class="my-profile">Phrases</h1>
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Type</th>
                  <th class="column2">Phrase</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="column1">Junior Web Programmer #1</td>
                  <td class="column2">
                    Building a nutritional planning website for athletes in the
                    sports industry
                  </td>
                </tr>
                <tr>
                  <td class="column1">Junior Web Programmer #2</td>
                  <td class="column2">
                    Designing a mobile application for tracking sports
                    performance data
                  </td>
                </tr>
                <tr>
                  <td class="column1">Junior Web Programmer #3</td>
                  <td class="column2">
                    Creating an online sports betting platform with secure
                    payment systems
                  </td>
                </tr>
                <tr>
                  <td class="column1">Junior Web Programmer #4</td>
                  <td class="column2">
                    Developing a web application for tracking motor racing
                    statistics
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
