<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <script defer src="../static/js/script.js"></script>
    <title>Maquette</title>
    <link rel="stylesheet" href="../static/css/signin.css" />
    <script src="../static/js/lib/particles.min.js"></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body id="background-animation">
    <header>
      <div class="left-side">
        <a target="_blank" class="logo" href="https://polnep.ac.id/"
        ><img class="logo" src="../static/img/logo.png"
        /></a>
        <div id="divv" class ="divv"></div>
        <h1 id="texts">
          Politeknik<br />
          Negeri <br />Pontianak
        </h1>
      </div>
      <div class="right-side">
        <a class="light-mode" class="contain"><img class="moon" id="moon" src="../static/img/moon-regular.svg" onclick="dark()"/></a>
        <a href="start" class="contain"><img id="profile" class="profile-icon" src="../static/img/avatar.png" /></a>
      </div>
    </header>

    <div class="container">
      <img src="../static/img/baymax.png" class="baymax hide"  id="baymax"/>
      <div class="form">
        <form action="display" class = "form2">
          <label for="name">Nama </label><br>
          <input type="text" id="name" name="name" class="txt"><br>

          <label for="Id" class="{{color}}">ID Siswa </label><br>
          <input type="text" name="Id" class="txt"><br>

          <label for="major" >Major </label><br>
          <select name="major" class="txt" >
            <option value="Informatik">Informatik</option>
            <option value="Administrasi">Administrasi</option>
            <option value="Arsitektur">Arsitektur</option>
          </select>
  
          <label for="password">Kata Sandi </label><br>
          <input type="password" name="password" class="txt"><br>
  
          <input type="submit" value="Submit" class="submit">
        </form>
      </div>
    </div>
  </body>
</html>
